@{
    ViewBag.Title = "Role";
    Layout = "~/Views/Shared/_TabLayout.cshtml";
}

@section JS{
@*声明命名空间*@
<script>
    Tools.Namespace.register("SMKJ_FM.Role.Search");
    Tools.Namespace.register("SMKJ_FM.Role.Result");
    Tools.Namespace.register("SMKJ_FM.Role.Detail");
    Tools.Namespace.register("SMKJ_FM.Role.Right");
    SMKJ_FM.Role.SelectUrl = "/Role/Select";
    SMKJ_FM.Role.UpdateUrl = "/Role/Update";
    SMKJ_FM.Role.InsertUrl = "/Role/Insert";
    SMKJ_FM.Role.DeleteUrl = "/Role/Delete";
    SMKJ_FM.Role.Right.SelectUrl = "/RoleMenu/Select";
    SMKJ_FM.Role.Right.SaveUrl = "/RoleMenu/Save";
    SMKJ_FM.Role.Right.LastRow = undefined;
</script>

@*调用函数*@
<script>
 
    @*打开关闭编辑模式*@
    SMKJ_FM.Role.Right.OnSelect=function(row){
        if( SMKJ_FM.Role.Right.LastRow!=undefined){
            SMKJ_FM.Role.Right.Treegrid.treegrid("endEdit",SMKJ_FM.Role.Right.LastRow.MenuCode);
        }
        SMKJ_FM.Role.Right.Treegrid.treegrid("beginEdit",row.MenuCode);
        SMKJ_FM.Role.Right.LastRow=row;
    };
</script>
@*初始化组件*@
@*查询选项*@
<script>
    $(function () {
        @*初始化表单*@
        SMKJ_FM.Role.Search.Form = $("#Role_Search_Form").form();

        @*初始化Role对象属性*@
        SMKJ_FM.Role.Search.RoleCode = $("#Role_Search_RoleCode");

        SMKJ_FM.Role.Search.RoleName = $("#Role_Search_RoleName");

        SMKJ_FM.Role.Search.Status = $("#Role_Search_Status").combobox({
            multiple: true,
            editable: false,
            required:false,
            url:SMKJ_FM.Get.Status,
            valueField:"ID",
            textField:"Text"
        });


        @*初始化日期选择*@
        SMKJ_FM.Role.Search.HasDateParam=$("#Role_Search_HasDateParam");
        SMKJ_FM.Role.Search.HasDateParam.click(function(){
            var ck=SMKJ_FM.Role.Search.HasDateParam.attr("checked");
            if(ck==undefined){
                SMKJ_FM.Role.Search.XgDateBegin.datetimebox("clear");
                SMKJ_FM.Role.Search.XgDateEnd.datetimebox("clear");
            }
        });
        SMKJ_FM.Role.Search.XgDateBegin=$("#Role_Search_XgDateBegin").datetimebox({
            editable:false,
            required:false
        });
        SMKJ_FM.Role.Search.XgDateEnd=$("#Role_Search_XgDateEnd").datetimebox({
            editable:false,
            required:false
        });

        @*初始化按钮*@
        SMKJ_FM.Role.Search.SearchBtn = $("#Role_Search_SearchBtn").linkbutton({
            iconCls: "icon-search"
        });
        SMKJ_FM.Role.Search.SearchBtn.click(
            function(){
                 SMKJ_FM.Role.Result.Datagrid.datagrid({
                    queryParams:Tools.serializeObject(SMKJ_FM.Role.Search.Form)
                });
        });

        SMKJ_FM.Role.Search.CleanBtn = $("#Role_Search_CleanBtn").linkbutton({
            iconCls:"icon-cancel"
        })
        SMKJ_FM.Role.Search.CleanBtn.click(function(){
            SMKJ_FM.Role.Search.Form.form("clear");
        });
    });
</script>

@*查询结果*@
<script>
    $(function () {
        SMKJ_FM.Role.Result.Datagrid = $("#Role_Result_Datagrid").datagrid({
            url: SMKJ_FM.Role.SelectUrl,
            method: "post",
            fit: true,
            collapsible: true,
            fitColumns: true,
            singleSelect: true,
            columns: [[
                { field: "ID", title: "ID", width: 100, hidden: true },
                { field: "RoleCode", title: "角色代码", width: 100 },
                { field: "RoleName", title: "角色名称", width: 100 },
                { field: "StatusStr", title: "状态", width: 100 },
                { field: "XgDate", title: "修改时间", width: 100 }
            ]],
            pagination: true,
            pageSize: 20,
            pageList: [10, 20, 50, 100],
            idField: "ID",
            rownumbers: true,
            autoRowHeight: true,
            queryParams: Tools.serializeObject(SMKJ_FM.Role.Search.Form),
            toolbar: [
                "-",
                { text: "增加", iconCls: "icon-add", handler: function () {
                    SMKJ_FM.Role.Detail.RoleCode.removeAttr("readonly");
                    SMKJ_FM.Role.Detail.Dialog.dialog({
                        closed: false,
                        title: "增加",
                        iconCls: "icon-add"
                    });
                }
                },
                "-",
                { text: "删除", iconCls: "icon-remove", handler: function () {
                    var node = SMKJ_FM.Role.Result.Datagrid.datagrid("getSelected");
                    SMKJ_FM.Role.Result.Datagrid.datagrid("unselectAll");
                    if (node != null) {
                        if (node.RoleCode == "SUPER") {
                            $.messager.alert("提示", "超级用户角色不允许删除!", "warning");
                            return;
                        }
                        $.messager.confirm("提示", "确认删除该角色?", function (r) {
                            if (r) {
                                $.post(SMKJ_FM.Role.DeleteUrl, { ID: node.ID }, function (data) {
                                    var msg = eval("(" + data + ")");
                                    if (msg.Success) {
                                        $.messager.show({
                                            title: "提示",
                                            msg: msg.Msg,
                                            timeout: 3000,
                                            showtype: "show"
                                        });
                                        SMKJ_FM.Role.Result.Datagrid.datagrid("reload", Tools.serializeObject(SMKJ_FM.Role.Search.Form));
                                    }
                                    else {
                                        $.messager.alert("错误", msg.Msg, "error");
                                    }
                                })
                            }
                        });
                    }
                }
                },
                "-",
                { text: "编辑", iconCls: "icon-edit", handler: function () {
                    var node = SMKJ_FM.Role.Result.Datagrid.datagrid("getSelected");
                    if (node != null) {
                        if (node.RoleCode == "SUPER") {
                            $.messager.alert("提示", "系统角色不允许修改!", "warning")
                            return;
                        }
                        SMKJ_FM.Role.Detail.Dialog.dialog({
                            closed: false,
                            title: "编辑",
                            iconCls: "icon-edit"
                        });
                        SMKJ_FM.Role.Detail.Form.form("load", node);
                        SMKJ_FM.Role.Detail.RoleCode.attr("readonly", true);
                    }
                }
                },
                "-",
                { text: "权限", iconCls: "icon-tip", handler: function () {
                    var node = SMKJ_FM.Role.Result.Datagrid.datagrid("getSelected");
                    if (node == null) {
                        return;
                    }
                    if (node.RoleCode == "SUPER") {
                        $.messager.alert("提示", "超级用户角色不允许设置权限!", "info");
                        return;
                    }

                    SMKJ_FM.Role.Right.Dialog.dialog({
                        title: "权限设置--" + node.RoleCode,
                        closed: false
                    });
                    SMKJ_FM.Role.Right.Treegrid.treegrid({
                        url: SMKJ_FM.Role.Right.SelectUrl,
                        queryParams: { RoleCode: node.RoleCode }
                    });

                }
                }
            ]
        });

    });
</script>

@*明细对话框*@
<script>
    $(function () {
        SMKJ_FM.Role.Detail.Dialog = $("#Role_Detail_Dialog").show().dialog({
            width: 400,
            height: 450,
            closed: true,
            modal: true,
            onBeforeOpen:function(){
                SMKJ_FM.Role.Detail.Form.form("clear");
            },
            buttons: [
        {
            text: "保存",
            iconCls: "icon-save",
            handler: function () {
                var url;
                var id=SMKJ_FM.Role.Detail.ID.val();
                if(id !=null && id!=""){
                    url=SMKJ_FM.Role.UpdateUrl;
                }
                else{
                    url=SMKJ_FM.Role.InsertUrl;
                }
                SMKJ_FM.Role.Detail.Form.form("submit",{
                    url:url,
                    queryParams:Tools.serializeObject(SMKJ_FM.Role.Detail.Form),
                    success:function(data){
                        var msg=eval("("+data+")");
                        if(msg.Success){
                            $.messager.show({
                                title:"提示",
                                msg:msg.Msg,
                                timeout:3000,
                                showtype:"show"
                            });
                            SMKJ_FM.Role.Detail.Dialog.dialog("close");
                            SMKJ_FM.Role.Result.Datagrid.datagrid("reload",Tools.serializeObject(SMKJ_FM.Role.Search.Form));
                        }
                        else{
                            $.messager.alert("错误",msg.Msg,"error");
                        }
                    }
                });
            }
        },
        {
            text: "取消",
            iconCls: "icon-no",
            handler: function () {
                SMKJ_FM.Role.Detail.Dialog.dialog("close");
            }
        }
        ]
        });
        @*明细Form*@
        SMKJ_FM.Role.Detail.Form=$("#Role_Detail_Form").form();
        @*角色ID*@
        SMKJ_FM.Role.Detail.ID=$("#Role_Detail_ID");
        @*角色代码*@
        SMKJ_FM.Role.Detail.RoleCode=$("#Role_Detail_RoleCode").validatebox({
            required:true,
            missingMessage:"角色代码必须填写!"
        });
        @*角色名称*@
        SMKJ_FM.Role.Detail.RoleName=$("#Role_Detail_RoleName").validatebox({
            required:true,
            missingMessage:"角色名称必须填写!"
        });
        @*状态选择*@
        SMKJ_FM.Role.Detail.Status=$("#Role_Detail_Status").combobox({
            required: true,
            missingMessage:"状态必须选择!",
            multiple: false,
            editable: false,
            url:SMKJ_FM.Get.Status,
            valueField:"ID",
            textField:"Text"
        });
        
    });
</script>

@*权限内容*@
<script>
    $(function () {
        @*权限对话框*@
        SMKJ_FM.Role.Right.Dialog = $("#Role_Right_Dialog").show().dialog({
            title: "权限设置",
            width: 625,
            height: 500,
            closed: true,
            modal:true
            });
            @*权限Datagrid*@
            SMKJ_FM.Role.Right.Treegrid=$("#Role_Right_Treegrid").treegrid({
                method:"post",
                fit:true,
                rownumbers:true,
                singleSelect:true,
//                fitColumns:true,
                idField:"MenuCode",
                treeField:"MenuName",
                pagination:true,
                pageSize:100,
                pageList:[10,20,50,100],
                columns:[[ 
                    {title:"菜单编码",field:"MenuCode",width:60,rowspan:2},
                    {title:"菜单名称",field:"MenuName",width:200,rowspan:2},
                    {title:"授权",field:"Allowed",width:30,rowspan:2,editor:{type:"checkbox",options:{
                        on:"Y",
                        off:"N"
                    }}},
                    {title:"权限明细",colspan:5},
                    {title:"修改时间",field:"XgDate",width:130,rowspan:2}],
                    
                    [
                   {title:"增加",field:"Insert",width:30,
                    editor:{type:"checkbox",options:{
                        on:"Y",
                        off:"N"
                    }}},
                    {title:"删除",field:"Delete",width:30,
                    editor:{type:"checkbox",options:{
                        on:"Y",
                        off:"N"
                    }}},
                    {title:"修改",field:"Update",width:30,
                    editor:{type:"checkbox",options:{
                        on:"Y",
                        off:"N"
                       }}},
                    {title:"查询",field:"Select",width:30,
                    editor:{type:"checkbox",options:{
                        on:"Y",
                        off:"N"
                    }}},
                    {title:"审核",field:"Approve",width:30,
                    editor:{type:"checkbox",options:{
                        on:"Y",
                        off:"N"
                    }}}
                ]],
                onSelect:SMKJ_FM.Role.Right.OnSelect,
                toolbar:[
                    {
                    text: "保存",
                    iconCls: "icon-save",
                    handler: function () {
                    if(SMKJ_FM.Role.Right.LastRow!=undefined){
                       SMKJ_FM.Role.Right.Treegrid.treegrid("endEdit",SMKJ_FM.Role.Right.LastRow.MenuCode);
                    }
                    $.messager.confirm("提示","确定要保存权限?",function(r){
                        if(r){
                            var Changes=SMKJ_FM.Role.Right.Treegrid.treegrid("getChanges");
                            //调用ajax 保存权限
                            $.post(SMKJ_FM.Role.Right.SaveUrl,{roleCode:SMKJ_FM.Role.Result.Datagrid.datagrid("getSelected").RoleCode,jsonStr:JSON.stringify(Changes)},
                            function(data){
                                var msg=eval("("+data+")");
                                if(msg.Success){
                                    SMKJ_FM.Role.Right.Treegrid.treegrid("acceptChanges");
                                        $.messager.show({
                                        title:"提示",
                                        msg:msg.Msg,
                                        timeout:3000,
                                        showType:"show"
                                    });
                                    SMKJ_FM.Role.Right.Dialog.dialog("close");
                                }
                                else{
                                    $.messager.alert("错误",msg.Msg,"error");
                                }
                            });

                        }
                    });

                    }
                },
                "-",
                {
                    text: "关闭",
                    iconCls: "icon-no",
                    handler: function () {
                        SMKJ_FM.Role.Right.LastRow=undefined;
                        SMKJ_FM.Role.Right.Dialog.dialog("close");
                        SMKJ_FM.Role.Right.Treegrid.treegrid("rejectChanges");
                        SMKJ_FM.Role.Right.Treegrid.treegrid("loadData",{total:0,rows:{}});
                    }
                }
                ]
                }
            );
    });
</script>
}

@section Components{
@*明细对话框*@
<div id="Role_Detail_Dialog" style="display:none">
<form id="Role_Detail_Form" method="post">
    <input type="text" id="Role_Detail_ID" name="ID" style="display:none"/>
    <table>
        <tr>
            <th>角色编码</th>
            <td><input id="Role_Detail_RoleCode" name="RoleCode"/></td>
        </tr>
        <tr>
            <th>角色名称</th>
            <td><input id="Role_Detail_RoleName" name="RoleName"/></td>
        </tr>
        <tr>
            <th>状态</th>
            <th><input id="Role_Detail_Status" name="Status" /></th>
        </tr>
    </table>
</form>
</div>

@*权限设置对话框*@
<div id="Role_Right_Dialog" style="display:none">
    <table id="Role_Right_Treegrid" style="height:300"></table>
</div>
}

@section SearchParams{
<form id="Role_Search_Form">
    <table>
        <tr>
            <td>角色代码<input id="Role_Search_RoleCode" name="RoleCode" /></td>
            <td>角色名称<input id="Role_Search_RoleName" name="RoleName"/></td>
            <td>状态<input id="Role_Search_Status" name="Status" />
            </td>
        </tr>
        <tr>
            <td><input id="Role_Search_HasDateParam" type="checkbox"/>修改时间
                    <input id="Role_Search_XgDateBegin" name="XgDateBegin"/></td>
            <td>-<input id="Role_Search_XgDateEnd" name="XgDateEnd"/></td>
            <td><a id="Role_Search_SearchBtn" href="javascript:void(0)"  >查询</a>
                <a   id="Role_Search_CleanBtn" href="javascript:void(0)" >清空</a></td>
        </tr>
    </table>
</form>
}

@section SearchResult{
<table id="Role_Result_Datagrid"  style="overflow:scroll"></table>
}