@{
    ViewBag.Title="WorkCenter";
    }
<body>
    <h1> @ViewBag.Str</h2>
    <object id="a" classid="clsid:A850C423-9F91-4E70-8802-FAA7542E5269" width:"750" height:"350">
    </object>
</body>
<script>
    a.Init("@ViewBag.P1","@ViewBag.P2");
</script>