@{
    ViewBag.Title = "SMKJ_FM";
}
<script>
    var Home_Login_Dialog
    var Home_Login_Form;
    var Home_User;
    var Home_MainTabs;
    var Home_MenuTree;
    var Home_ChangePwd_Dialog;
    var Home_ChangePwd_Form;

    @*登录时按回车*@
    function Home_Login_KeyDown(e) {
        if (e.keyCode == 13) {
            Home_Login_Form.submit();
        }
    }
    @*修改密码时按回车*@
    function Home_ChangePwd_KeyDown(e) {
        if (e.keyCode == 13) {
            Home_ChangePwd_Form.submit();
        }
    }

    </script>

    <script>
        $(
        @*初始化*@
            function () {
                @*显示欢迎页*@
                $("#Home_MainPanel").show();

                @*初始化登录框*@
                $("#Home_Login_Dialog div").show();
                Home_Login_Dialog = $("#Home_Login_Dialog").dialog({
                    title: "登陆",
                    width: 280,
                    height: 200,
                    closed: false,
                    cache: false,
                    modal: true,
                    closable: false,
                    draggable: false,
                    buttons: [{
                        text: "登陆",
                        handler: function () {
                            Home_Login_Form.submit();
                        }
                    }]
                });
                @*初始化登陆form*@
                Home_Login_Form = $("#Home_Login_Form").form({
                    url: "/Users/Login",
                    success: function (data) {
                        var dat = eval("(" + data + ")");
                        if (dat.Success == true) {
                            Home_User = dat.Obj;
                            Home_Login_Dialog.dialog({ "closed": "true" });
                            $.messager.show({
                                title: "提示",
                                msg: "登陆成功",
                                timeout: 3000,
                                showtype: "show"
                            });
                            Home_Menus_Init();
                        }
                        else {
                            @*显示提示*@
                            $.messager.alert("错误", dat.Msg, "error");
                        }

                    }
                });
                @*初始化主面板*@
                Home_MainTabs = $("#Home_MainTabs").tabs({
                    border: false,
                    fit: true,
                    onBeforeClose: function (title, index) {
                        var target = this;
                        $.messager.confirm("确认关闭", "确定关闭【" + title + "】？", function (r) {
                            if (r) {
                                var opts = $(target).tabs("options");
                                var bc = opts.onBeforeClose;
                                opts.onBeforeClose = function () { };
                                $(target).tabs("close", index);
                                opts.onBeforeClose = bc;
                            }
                        }, "question");
                        return false;
                    }
                });
                @*初始化密码修改框*@
                $("#Home_ChangePwd_Dialog div").show();
                Home_ChangePwd_Dialog = $("#Home_ChangePwd_Dialog").dialog({
                    title: "修改密码",
                    width: 280,
                    height: 220,
                    closed: true,
                    cache: false,
                    modal: false,
                    closable: true,
                    draggable: true,
                    buttons: [{
                        text: "确认",
                        handler: function () {
                            Home_ChangePwd_Form.submit();
                        }
                    }]
                });
                @*初始化密码修改form*@
                Home_ChangePwd_Form = $("#Home_ChangePwd_Form").form({
                    url: "/Users/ChangePassword",
                    success: function (data) {
                        var dat = eval("(" + data + ")");
                        $.messager.show({
                            title: "提示",
                            msg: dat.Msg,
                            timeout: 3000,
                            showtype: "show"
                        });
                        if (dat.Success) {
                            $("#Home_ChangePwd_NewPwd").val("");
                            $("#Home_ChangePwd_NewPwd").val("");
                            $("#Home_ChangePwd_NewPwd").val("");
                            Home_ChangePwd_Dialog.dialog("close");
                        }
                    }
                });
                @*初始化密码规则*@
                $.extend($.fn.validatebox.defaults.rules,
                {
                    equals: {
                        validator: function (value, param) {
                            return value == $(param[0]).val();
                        },
                        message: "两次输入密码不一致！"
                    },
                    maxLength: {
                        validator: function (value, param) {
                            return value.length <= param[0];
                        },
                        message: "密码最长{0}位！"
                    }

                });
            }
        );

</script>



@*登陆框*@
<div id="Home_Login_Dialog" class="easyui-dialog" style="display:none">
    <form id="Home_Login_Form" method="post">
        <table>
        <tr>
            <th style="width:100px">用户名</th>
            <td align="right">
                <input name="userCode" class="easyui-validatebox" 
                type=text  data-options="required:true,missingMessage:'用户名必须填写！'" style="width:150px"
                onkeydown="Home_Login_KeyDown(event)"/>
            </td>
        </tr>
        <tr>
            <th>密码</th>
            <td align="right">
                <input name="uPassword" class="easyui-validatebox" 
                type=password data-options="required:true,missingMessage:'密码必须填写！'" style="width:150px" 
                onkeydown="Home_Login_KeyDown(event)"/>
                <input  name="orgCode" class="easyui-validatebox"
                type=text style="width:auto;display:none" value="SYS" />
            </td>
        </tr>
    </table>
    </form>

</div>

@*修改密码框*@
<div id="Home_ChangePwd_Dialog" class="easyui-dialog" style="display:none">
    <form id="Home_ChangePwd_Form" method="post">
        <table >
        <tr>
            <th style="width:100px">原密码</th>
            <td align="right">
                <input id="Home_ChangePwd_OldPwd" name="oldPwd" class="easyui-validatebox" 
                type="password"  data-options="required:true,missingMessage:'原密码必须填写！'" style="width:150px"
                onkeydown="Home_ChangePwd_KeyDown(event)"/>
            </td>
        </tr>
        <tr>
            <th>新密码</th>
            <td align="right">
                <input id="Home_ChangePwd_NewPwd" name="newPwd" class="easyui-validatebox" 
                type="password" data-options="required:true,missingMessage:'新密码必须填写！'" style="width:150px" 
                onkeydown="Home_ChangePwd_KeyDown(event)"
                validtype="maxLength[10]"
                />
                <input  name="orgCode" class="easyui-validatebox"
                type=text style="width:auto;display:none" value="0" />
            </td>
        </tr>
        <tr>
            <th>重复密码</th>
            <td align="right">
                <input id="Home_ChangePwd_RptPwd" name="rptPwd" class="easyui-validatebox" 
                type=password data-options="required:true,missingMessage:'重复密码必须填写！'"
                validtype="equals['#Home_ChangePwd_NewPwd']" style="width:150px" 
                onkeydown="Home_ChangePwd_KeyDown(event)"/>
                <input  name="orgCode" class="easyui-validatebox"
                type=text style="width:auto;display:none" value="0" />
            </td>
        </tr>
    </table>
    </form>

</div>

<div id="Home_MainPanel" class="easyui-layout" fit="true" style="display:none">
    <div  region="north"  style="height:100px" >青岛商盟赋码系统</div>
    <div  region="south"  style="height:50px"></div>
    <div  region="west" style="height:auto; width:200px; overflow:auto" data-options="split:false,cache:false" href="/Home/Menus"></div>
    <div  region="center" style="overflow:hidden" >
        <div id="Home_MainTabs" class="easyui-tabs" >
        <div title="首页" >啊啊啊
            <a id="aaa" href="javascript:void(0)" >aaa</a>
        </div>
        </div>
    </div>
</div>