@{
    ViewBag.Title = "PackCodeSearch";
    Layout = "~/Views/Shared/_TabLayout.cshtml";
}
@section JS{
@*注册空间*@
<script>
    Tools.Namespace.register("SMKJ_FM.PackCodeSearch.Search");
    Tools.Namespace.register("SMKJ_FM.PackCodeSearch.Result");
    SMKJ_FM.PackCodeSearch.SelectUrl = "/PackCodeSearch/Select";
</script>

@*查询选项*@
<script>
    $(function () {
        SMKJ_FM.PackCodeSearch.Search.Form = $("#PackCodeSearch_Search_Form").form();
        SMKJ_FM.PackCodeSearch.Search.PackCode = $("#PackCodeSearch_Search_PackCode");
        SMKJ_FM.PackCodeSearch.Search.ParentCode = $("#PackCodeSearch_Search_ParentCode");
        SMKJ_FM.PackCodeSearch.Search.TaskCode = $("#PackCodeSearch_Search_TaskCode");
        SMKJ_FM.PackCodeSearch.Search.BatchNo = $("#PackCodeSearch_Search_BatchNo");
        SMKJ_FM.PackCodeSearch.Search.SearchBtn = $("#PackCodeSearch_Search_SearchBtn").linkbutton({
            iconCls: "icon-search"
        });
        SMKJ_FM.PackCodeSearch.Search.SearchBtn.click(function () {
            SMKJ_FM.PackCodeSearch.Result.Datagrid.datagrid({
                url:SMKJ_FM.PackCodeSearch.SelectUrl,
                queryParams: Tools.serializeObject(SMKJ_FM.PackCodeSearch.Search.Form)
            });
         });
        SMKJ_FM.PackCodeSearch.Search.CleanBtn = $("#PackCodeSearch_Search_CleanBtn").linkbutton({
            iconCls: "icon-cancel"
        });
        SMKJ_FM.PackCodeSearch.Search.CleanBtn.click(function () {
            SMKJ_FM.PackCodeSearch.Search.Form.form("clear");
        });
    });
</script>

@*查询结果*@
<script>
    $(function () {
        SMKJ_FM.PackCodeSearch.Result.Datagrid = $("#PackCodeSearch_Result_Datagrid").datagrid({
            fit: true,
            method: "post",
            singleSelect: false,
            rownumbers: true,
            pagination: true,
            idField: "PackCode",
            pageSize: 20,
            pageList: [10, 20, 50, 100],
            fitColumns: true,
            columns: [[
                { field: "PackCode", title: "监管码", width: 100 },
                { field: "LevelNo", title: "级别", width: 100 },
                { field: "StatusStr", title: "状态", width: 100 },
                { field: "ParentPackCode", title: "父码", width: 100 },
                { field: "TaskID", title: "任务ID", width: 100 },
                { field: "PackFlagStr", title: "包装状态", width: 100 },
                { field: "PrintFlagStr", title: "打印状态", width: 100 }
            ]]
        });
    });
</script>
}

@section Components{

}

@section SearchParams{
<form id="PackCodeSearch_Search_Form" method="post">
    <table>
        <tr>
            <th>子码</th><td><input id="PackCodeSearch_Search_PackCode" name="PackCode"/></td>
            <th>父码</th><td><input id="PackCodeSearch_Search_ParentCode" name="ParentCode"/></td>
            <th></th><td></td>
        </tr>
        <tr>
            <th>任务编码</th><td><input id="PackCodeSearch_Search_TaskCode" name="TaskCode"/></td>
            <th>批号</th><td><input id="PackCodeSearch_Search_BatchNo" name="BatchNo"/></td>
            <th></th><td><a id="PackCodeSearch_Search_SearchBtn">查询</a><a id="PackCodeSearch_Search_CleanBtn">清除</a></td>
        </tr>
    </table>
</form>
}

@section SearchResult{
<table id="PackCodeSearch_Result_Datagrid" style="overflow:scroll"></table>
}
